<strong>Recuperação de senha</strong>
<p> Uma solicitação de recuperação de senha para seu email ({{ email }}), sou solicitado.</p>

<p> Para continuar com a recuperação de senha, utilize o token {{ token }} ou click no link abaixo:</p><br/>

<a href={{link}}>Criar nova senha</a><br/>

<strong> Recuperação de senha solicitada em: {{ dateNow }} </strong>
